@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
}

@theme {
  /* --color-*: initial; */
  --color-white: #ffffff;
  --color-orange: #E58411;
  --color-gray: #F7F7F7;
  --color-graytext: #1E1E1E;
  --color-btntext: #0D1B39;


}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

